@font-face {
	font-family: GreatVibes-Regular;
    src: url('GreatVibes-Regular.ttf');
}

.font-cursive {
	font-family: GreatVibes-Regular;
}
.font-cursive-bold {
	font-family: GreatVibes-Regular;
    font-weight: bold;
}

.container-row {
    gap: 2em;
}

.button-clear {
    width: 12%;
}

.text-amount {
    width: 1em;
}

.display-languages {
    position: absolute;
    z-index: 1;
}

.clickable:hover{
    cursor:pointer;
}